body {
  background-color: #F1F3FA;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top:30px;
}
.thumbnail img {
    height:250px;
    width:100%;
}
.display_degree{
  color:grey;

}


